@import url("default.css");

div.body p.flushRight {
	padding-left: 1em;
	font-size: 0.66em;
	font-style: oblique;
	color: gray;
}

.flushRight a {
	color: #688faf;
}

.sphinxsidebar {
	overflow: hidden;
}
